
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    /* Bar Graph Vertical */
    .bar-graph {
      animation: fade-in-text 2.2s 0.1s forwards;
      background-color: lightgray;
      width: fit-content;
    }

    .bar-graph-vertical {
      margin-top: 80px;
      max-width: 680px;
    }

    .bar-graph-vertical .bar-container {
      float: left;
      height: 500px;
      margin-top: 12px;
      margin-right: 12px;
      position: relative;
      margin-left: 12px;
      width: 40px;
      background-color: white;
    }

    .bar-graph-vertical .bar {
      bottom: 0px;
      position: absolute;
      width: 40px;
    }

    .bar-graph-vertical .year {
      left: 0;
      top: 505px;
      position: absolute;
      right: 0;
    }

    .bar-graph-two .bar-one .bar {
      background-color: darkgrey;
      animation: show-bar-one-vertical 1.2s 0.1s forwards;
    }

    .bar-graph-two .bar-two .bar {
      background-color: darkgrey;
      animation: show-bar-two-vertical 1.2s 0.2s forwards;
    }

    .bar-graph-two .bar-three .bar {
      background-color: darkgrey;
      animation: show-bar-three-vertical 1.2s 0.3s forwards;
    }


    /* Bar Graph Vertical Animations */
    @keyframes show-bar-one-vertical {
      0% {
        height: 0;

      }

      100% {
        height: 30%;

      }
    }

    @keyframes show-bar-two-vertical {
      0% {
        height: 0;
      }

      100% {
        height: 40%;
      }
    }

    @keyframes show-bar-three-vertical {
      0% {
        height: 0;
      }

      100% {
        height: 90%;
      }
    }

    .class1 {
      margin: auto;
      align-content: center;
      text-align: center;
    }

    .top1 {
      bottom: 50px;
    }

    .container {
      display: inline-block;
      margin: auto;
    }
  